
---
root: "../"
---

<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Alex Layton" />
  	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
		<a href="{{ site.baseurl }}/" title="fyp"><h1>fyp</h1></a>
    </header>
    <section>
      {{ content }}
    </section>
    <footer>
    	
    </footer>
  </body>
</html>
